#pop-up-mess {
  z-index: 99999999;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pop 3.5s ease;
}

@keyframes pop {
  20% {
    top: 35%;
  }

  50% {
    top: 35%;
  }

  70% {
    top: 35%;
  }

  80% {
    top: 35%;
  }

  90% {
    top: 35%;
  }

  100% {
    display: none;
  }
}
