{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Change password</title>
      <link rel="icon" href="static/users/logo.png" type="image/x-icon">
      <link href="{% static 'css/output_users.css' %}" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
      <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
      <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
      <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <!-- <script src="{% static 'js/preload.js' %}"></script> -->
    <script src="{% static 'js/closemess.js' %}"></script>
    <script src="{% static 'js/loading_submit.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/user-pop-up-mess.css' %}">
    <script src="{% static 'js/owner_loading_submit.js' %}"></script>
  </head>
  
  <body class="relative h-[100dvh] w-[100dvw] overflow-y-scroll overflow-x-hidden">
   <!-- Loading Spinner (hidden until request is sent) -->
	<div id="loadingSpinner" class="fixed inset-0 flex flex-col items-center justify-center bg-gray-800 bg-opacity-50 hidden z-[999999999999]">
		<div class="spinner-border text-primary" role="status">
		</div>
		<span class="">Loading...</span>
	</div>

    {% for message in messages %}
					{% if message.tags == 'error' %}
					<p id="pop-up-mess"
						class="alert py-2 absolute border-none bg-white shadow-md shadow-gray-400 text-black flex justify-start items-center gap-2">
						<i class="bi bi-x-circle-fill text-red-600"></i> <span>{{ message }}</span>
					</p>
					{% elif message.tags == 'warning' %}
					<p id="pop-up-mess" class="alert alert-warning absolute py-2 border-none bg-white shadow-md text-black flex justify-start items-center gap-2"><i
							class="bi bi-exclamation-circle-fill text-orange-600"></i> {{ message }}</p>
					{% else %}
					<p id="pop-up-mess"
						class="alert alert-success absolute flex items-center py-2 border-none bg-white shadow-md text-black flex justify-start items-center gap-2"><i
							class="bi bi-check-circle-fill text-xlg text-green-600"></i> {{ message }}</p>
					{% endif %}
				{% endfor %}
    
      <img class="absolute h-full w-full top-0 left-0" src="{% static 'users/pope-francis-village.png' %}" alt=""
          srcset="">
      <div class="shadow-md bg-gray-100 z-[99] flex justify-center items-center absolute h-[100%] w-full"
          style="background-color: rgba(255, 255, 255, 0.8);">
  
          <div class="w-full max-[550px]:h-full py-6 px-6 bg-white absolute max-w-[450px] md:max-h-[90%] shadow-md rounded-md">
            <!-- Back Button -->
            <a class="bg-gray-100 h-[2.5rem] w-[2.5rem] flex justify-center items-center ml-3 shadow-md rounded-full absolute" onclick="window.history.back()">
                <i class="bi bi-arrow-left text-lg"></i>
            </a>
            
            <!-- Header with Icon -->
            <div class="flex items-center justify-center mb-10">
                <h2 class="text-2xl font-semibold text-gray-800">Change Password</h2>
            </div>
        
            <div class="card-body">
				<form method="post">
					{% csrf_token %}

					<!-- Display non-field errors -->
					{% if form.non_field_errors %}
						<div class="alert alert-danger">
							<ul>
								{% for error in form.non_field_errors %}
								<li>{{ error }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

					<div class="mb-3">
						<label for="currentPassword" class="form-label">Current Password</label>
						{{ form.old_password }}
						{% for error in form.old_password.errors %}
                        <div class="text-red-500 text-sm">{{ error }}</div>
                    	{% endfor %}
					</div>
					<div class="mb-3">
						<label for="newPassword" class="form-label">New Password</label>
						{{ form.new_password1 }}
						{% for error in form.new_password1.errors %}
                        <div class="text-red-500 text-sm">{{ error }}</div>
                    	{% endfor %}
					</div>
					<div class="mb-3">
						<label for="confirmPassword" class="form-label">Confirm New Password</label>
						{{ form.new_password2 }}
						{% for error in form.new_password2.errors %}
                        <div class="text-red-500 text-sm">{{ error }}</div>
                    	{% endfor %}
					</div>
					<div class="d-grid">
						<button type="submit" class="btn btn-primary btn-lg">Change Password</button>
					</div>
				</form>
			</div>
			
        </div>        
  </body>
  </html>
  